{% extends "base.html" %}
{% load static %}
{% block content %}
<p></p>
{% if usur.count == 0 %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h1> No posees una membresía activa</h1>
                </div>
            </div>
        </div>
</div>
{% else %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                {% if horario.count != 0 %}
                <table id="table" class="display" style="width:100%">
                    <thead>
                        <th>Fecha</th>
                        <th>Bloque</th>
                        <th>Actividad</th>
                        <th>Profesor</th>
                        <th>Opciones</th>
                    </thead>
                    <tbody>
                    {% for x in horario %}
                        <tr>
                            <td>{{ x.fecha }}</td>
                            <td>{{ x.fk_bloque }}</td>
                            <td>{{ x.fk_actividad }}</td>
                            <td>{{ x.fk_profesor }}</td>
                            <td>
                                <a class="btn btn-info btn-sm" id="btn_delete" href="/gimnasio/horas/delete/{{ x.id }}" title="eliminar">
                                <i class="bi bi-pencil-square"></i></a>
                            </td>
                       </tr>
                    {% endfor %}
                    </tbody>
                </table>
                
                {% else %}
                <p>No hay horarios disponibles para mostrar en el día de hoy</p>
                <p>Si desea reservar un horario, pulse el botón</p>
                <button class="button button2"><a href="/gimnasio/reserva/">Reservar</a></button>
                
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}
<div style="text-align: center">
    <button type="button" class="btn btn-warning"><a href="/gimnasio/cliente/clienteindex">Volver</a>
    </button>
</div>


{% endblock %}

{% block others_js %}
<script>
$(document).ready(function() {
    //
    $('#table').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
    },
        "columnDefs": [
            {"targets": 0, "orderable": true, "className": "dt-center", "visible": true},
            {"targets": 1, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 2, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 3, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 4, "orderable": false, "className": "dt-right", "width": "10%"},
        ],
    });
});
</script>
{% endblock %}