<!-- ======= Footer ======= -->
  <footer id="footer">


    <div class="footer-top">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-xl-10">
            <div class="row">
              <div class="col-lg-6 col-md-6 footer-contact">
                <h4>Contáctanos</h4>
                <p>
                  31 sur pasaje 6 1/2 poniente B 3460000 <br>
                  Talca<br>
                  Chile <br><br>
                  <strong>Phone:</strong> +1 5589 55488 55<br>
                  <strong>Email:</strong> contacto.onelifecl@gmail.com<br>
                </p>

              </div>

              <div class="col-lg-6 col-md-6 footer-info">
              <div class="col-lg-6 col-md-6 footer-contact">
                <h4>Nuestras redes sociales</h4>
                <div class="social-links mt-6">
                  <a href="https://www.facebook.com/One-Life-Chile-103821452027933" target = "_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
                  <a href="https://www.instagram.com/onelife.cl/" target= "_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
                </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->