{% load static %}
<link rel="stylesheet" href="{% static 'img_musc/bootstrapMW.css' %}">
<link rel="stylesheet" href="{% static 'img_musc/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'img_musc/style.css' %}">
<link rel="stylesheet" href="{% static 'img_musc/muscle-map.css' %}">
<link rel="stylesheet" href="{% static 'img_musc/style-mobile.css' %}">