<!-- static navbar -->
<header id="header" class="header-inner-pages">
    <div class="container d-flex align-items-center justify-content-between">
        {% if user.is_authenticated%}
        {% if user.groups.all.0|stringformat:"s" == "Cliente" %}
        <h1 class="logo"><a href="/gimnasio/cliente/clienteindex">One-Life</a></h1>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="/gimnasio/musculacion">Musculacion </a></li>
                <li>
                    <a class="nav-link" href="/gimnasio/reserva/"> Reserva</a>
                </li>
        {% elif user.groups.all.0|stringformat:"s" == "Administrador" %}
        <h1 class="logo"><a href="/gimnasio/administrador/index">One-Life</a></h1>
        <nav id="navbar" class="navbar">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><i
                            class="bi bi-gear"></i>Conf Generales</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/admin/aplicacion/membresia">Membresia</a></li>
                        <li><a class="dropdown-item" href="/admin/aplicacion/profesor/">Profesores</a></li>
                        <li><a class="dropdown-item" href="/admin/aplicacion/bloque/">Bloque</a></li>
                        <li><a class="dropdown-item" href="/admin/aplicacion/actividad/">Actividades</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><i
                            class="bi bi-gear"></i>Horarios</a>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/gimnasio/administrador/">Visualizar Horario</a></li>
                        <li><a class="dropdown-item" href="/gimnasio/administrador/pasados/">Horarios Pasados</a></li>
                    </ul>
                    
                </li>

                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        | <i class="bi bi-person"></i> <b>{{ user.first_name }} {{ user.last_name }}</b>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout'%}">
                        <i class="bi bi-box-arrow-right"></i> Salir</a>
                </li>
                {% else %}
                <h1 class="logo"><a href="">One-Life</a></h1>
                <nav id="navbar" class="navbar">
                <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
                <li><a class="nav-link scrollto" href="#about">Acerca de </a></li>
                <li><a class="nav-link scrollto" href="#planes">Planes</a></li>
                
                <li class="nav-item active">
                    <a href="{% url 'registro'%}?next={{request.path}}">Registro</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'login'%}?next={{request.path}}"><i
                            class="bi bi-box-arrow-left"></i> Ingresar</a>
                </li>
                {% endif %}
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>

    </div>
</header><!-- End Header -->