{% extends "base.html" %}

{% block content %}
<p></p>
<div class="row justify-content-center">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-12">
                        {% if isadd %}
                        <span>Agregar Horario</span>
                        {% else %}
                        <span>Actualizar Horario</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body">
                {% if isadd %}
                <form action="." method="post">
                    {% else %}
                    <form action="{{ horario.id }}" method="post">
                        {% endif %}
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                {{ form.fk_bloque.errors }}
                                <label class="form-label" for="{{ form.fk_bloque.id_for_label }}">Bloque:</label>
                                {{ form.fk_bloque }}
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                {{ form.fecha.errors }}
                                <label class="form-label" for="{{ form.fecha.id_for_label }}">Fecha:</label>
                                {{ form.fecha }}
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                {{ form.fk_actividad.errors }}
                                <label class="form-label" for="{{ form.fk_actividad.id_for_label }}">Actividad:</label>
                                {{ form.fk_actividad }}
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                {{ form.fk_profesor.errors }}
                                <label class="form-label" for="{{ form.fk_profesor.id_for_label }}">Profesor:</label>
                                {{ form.fk_profesor }}
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                {{ form.fk_usuario.errors }}
                                <label class="form-label" for="{{ form.fk_usuario.id_for_label }}">Usuario:</label>
                                {{ form.fk_usuario }}
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                {{ form.asistencia.errors }}
                                <label class="form-label" for="{{ form.asistencia.id_for_label }}">Asistencia:</label>
                                {{ form.asistencia }}
                            </div>
                        </div>
                        {% if isadd %}
                        <button type="submit" class="btn btn-primary">Agregar</button>
                        {% else %}
                        <button type="submit" class="btn btn-primary">Actualizar</button>
                        {% endif %}
                        <a href="../" class="btn btn-danger">Cancelar</a>
                    </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}