{% extends "base.html" %}

{% block content %}
<p></p>
<div class="row justify-content-center">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-12">
                        {% if isadd %}
                        <span>Agregar Historial</span>
                        {% else %}
                        <span>Actualizar Historial</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body">
                {% if isadd %}
                <form action="." method="post">
                    {% else %}
                    <form action="{{ horario.id }}" method="post">
                        {% endif %}
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                {{ form.membresia.errors }}
                                <label class="form-label" for="{{ form.membresia.id_for_label }}">Membresia:</label>
                                {{ form.membresia }}
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                {{ form.usuario.errors }}
                                <label class="form-label" for="{{ form.usuario.id_for_label }}">Usuario:</label>
                                {{ form.usuario }}
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                {{ form.fecha_inicio.errors }}
                                <label class="form-label" for="{{ form.fecha_inicio.id_for_label }}">Fecha inicio:</label>
                                {{ form.fecha_inicio }}
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                {{ form.fecha_termino.errors }}
                                <label class="form-label" for="{{ form.fecha_termino.id_for_label }}">Fecha termino:</label>
                                {{ form.fecha_termino }}
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                {{ form.estado.errors }}
                                <label class="form-label" for="{{ form.estado.id_for_label }}">Estado:</label>
                                {{ form.estado }}
                            </div>
                        </div>
                        {% if isadd %}
                        <button type="submit" class="btn btn-primary">Agregar</button>
                        {% else %}
                        <button type="submit" class="btn btn-primary">Actualizar</button>
                        {% endif %}
                        <a href="/gimnasio/administrador/index" class="btn btn-danger">Cancelar</a>
                    </form>
            </div>
        </div>
    </div>
</div><br>
<br>
{% endblock %}
